body{
  font-family: "DejaVu Sans", "Verdana", sans-serif;
  color: #404040;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
div.box{
  width: 72%;
  margin: 0 auto;
}
h1{
  font-family: "DejaVu Serif", "Verdana", sans-serif;
  color: #ffffff;
  border-radius: 8px;
}
.indent{
  margin-left: 32px;
}
div.header{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: #304050;
  color: #eaeae4;
}
div.header a{
  color: #f0d080;
}
@media(max-width: 60em){
  div.box{width: 80%;}
}
@media(max-width: 52em){
  div.box{width: 90%;}
}
@media(max-width: 32em){
  div.box{width: 96%;}
  .indent{margin-left: 16px;}
}
a{
  color: #004060;
  text-decoration: none;
}
a:hover{
  color: #602020;
  text-decoration: underline;
}
