
body{
  font-family: "DejaVu Sans", "Verdana", sans-serif;
  color: #404040;
  margin-top: 2.6em;
}
main{
  width: 76%;
  margin: 0 auto;
}
h1{
  font-family: "DejaVu Serif", "Verdana", sans-serif;
  background: #406080;
  color: #ffffff;
  padding-left: 32px;
  padding-right: 1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 8px;
}
.indent{
  margin-left: 32px;
}

@media(max-width: 60em){
  main{width: 84%;}
}

@media(max-width: 52em){
  main{width: 94%;}
  h1{padding-left: 1em;}
}

@media(max-width: 32em){
  main{width: 96%;}
  h1{padding-left: 16px;}
  .indent{margin-left: 16px;}
}

div.text{
  padding-left: 2em;
  padding-right: 1em;
  padding-bottom: 40em;
  border-top: 2px solid #dadad0;
  color: #404040;
}

a{
  color: #004060;
  text-decoration: none;
}

a:hover{
  color: #602020;
  text-decoration: underline;
}





